.title {
  .text-h2();
  display: flex;
  justify-content: center;
  margin-bottom: 76px;
  margin-top: 76px;
}

.title_first {
  .text-h1();
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 40px;

}



.block {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding: 32px;
  border-radius: var(--radius-s);
  background-color: var(--base-01);

  &__title {
    .text-h4();
    align-self: flex-start;
  }

  &__info {
    .text-basic();
    margin: 0;
  }

}


*:has(.block) {
  @media @mobile {
    margin-bottom: 24px;
  }

  @media @tablet {
    margin-bottom: 24px;
  }
}

.rectangle {
  height: 2px;
  width: 12px;
  border-radius: 1px;
  margin-right: 8px;
  background-color: var(--text-01);
}

.list_elem {
  display: grid;
  grid-template-columns: 316px;
}

.block_sq {
  height: 56px;
  width: 56px;
  border-radius: 31.25%;
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  top: 26px;
}

.block_sum {
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 5px 8px black;
  height: 50%;
  padding: 32px;
  border-radius: var(--radius-s);
  background-color: var(--base-01);

  &__title {
    .text-h4();
    align-self: flex-start;
  }

  &__info {
    .text-basic();
    margin: 0;
  }
}

*:has(.block) {
  @media @mobile {
    margin-bottom: 24px;
  }

  @media @tablet {
    margin-bottom: 24px;
  }
}